body{
}
.gray{
    background-color: gray;
    display: flex;
    flex-direction: row;
    margin-top: 100px;
    margin-left: 300px;
    gap: 30px; 
    width: 600px;
    border-radius: 150px;
}
.numero{
    font-size: 50px;
    margin: 0;
    text-align: center;
}
.nuvem{
    margin-top: 80px;
}
.km{
    display: flex;
    margin-top: 40px;
}
.sensacao{
    font-size: 20px;
    text-align: center;
    margin: 0;
    margin-top: 40px;
}
.sens{
    margin: 0;
}
.ind{
    font-size: 20px;
    text-align: center;
    margin: 0;
}
.um{
    
    text-align: center;
    margin: 0;
    font-size: 25px;
    margin-top: 20px
}

    .titulo{
        margin-left: 60px;
    }